# Python cache
__pycache__/
*.py[cod]

# Env
.venv/
.env
env/
venv/

# Local data/cache (do not publish DB or downloaded TSV)
wca_data.db
wca_data.db-journal
data/
*.tsv
*.tsv.zip
*.zip

# Logs / temp
*.log
*.tmp
*.bak
*.swp

# IDE/editor
.idea/
.vscode/
.cursorignore
.cursorindexingignore

# docs
docs/

# test
test_wca.py